{% extends 'base.html' %}
{% load static %}

{% block title %}
Cardápio Online
{% endblock %}

{% block content%}
<div class="container mx-auto py-10">
    <!-- Categoria Comidas -->
    <div class="mb-8">
        <h1 class="text-2xl font-bold text-white mb-4">Comidas</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/linguica-acebolada.jpg' %}" alt="Linguiça">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Linguiça Acebolada</h3>
                    <p class="text-gray-400">Linguiça acebolada</p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/batata_frita.png' %}" alt="Batata Frita">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Batata Frita</h3>
                    <p class="text-gray-400">Batata frita com cebola e bacon</p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/frango-a-passarinho.jpg' %}" alt="Frango a Passarinho">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Frango a Passarinho</h3>
                    <p class="text-gray-400"></p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/moela.jpg' %}" alt="Moela">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Moela</h3>
                    <p class="text-gray-400">Moela ao vinho com pão frances</p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/contrafile.png' %}" alt="Moela">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Contrafilé</h3>
                    <p class="text-gray-400"></p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/pastel.jpg' %}" alt="Pastel">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Pastel</h3>
                    <p class="text-gray-400">Pastel de carne ou queijo</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-8">
        <h1 class="text-2xl font-bold text-white mb-4">Prato Principal</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/arroz_e_tropeiro.png' %}" alt="Arro e Tropeiro">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Arroz e Tropeiro</h3>
                    <p class="text-gray-400">Arroz com feijão tropeiro</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-8">
        <h1 class="text-2xl font-bold text-white mb-4">Bebidas</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/beer.jpg' %}" alt="Cerveja">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Cerveja</h3>
                    <p class="text-gray-400">Cerveja Heineken 350 ml</p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/glass_water.jpg' %}" alt="Água">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Água</h3>
                    <p class="text-gray-400">Água mineral com ou sem gás</p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/suco-de-uva.jpg' %}" alt="Suco de uva">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Suco de Uva</h3>
                    <p class="text-gray-400">Suco de uva natural</p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/orange-juice-scaled.jpg' %}" alt="Suco de laranja">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Suco de Laranja</h3>
                    <p class="text-gray-400">Suco de laranja natural</p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/coke.jpg' %}" alt="Refrigerante">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Refrigerantes</h3>
                    <p class="text-gray-400">Coca-Cola, Pepsi, Sprite</p>
                </div>
            </div>
        </div>
    </div>

     <div class="mb-8">
        <h1 class="text-2xl font-bold text-white mb-4">Drinks</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/Moscow-mule-2.jpg' %}" alt="Moscow mule">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Moscow Mule</h3>
                    <p class="text-gray-400">---</p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/aperol.png' %}" alt="Moscow mule">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Aperol</h3>
                    <p class="text-gray-400">---</p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/caipirinha.png' %}" alt="Moscow mule">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Caipirinha</h3>
                    <p class="text-gray-400">---</p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/mojito.jpg' %}" alt="Moscow mule">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Mojito</h3>
                    <p class="text-gray-400">---</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-8">
        <h1 class="text-2xl font-bold text-white mb-4">Sobremesas</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/goiabada.jpg' %}" alt="Moela">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Goiabada</h3>
                    <p class="text-gray-400">Goiabada com queijo</p>
                </div>
            </div>

            <div class="bg-gray-800 rounded-lg p-4">
                <img class="w-full h-48 object-cover" src="{% static 'images/doce_de_leite.jpg' %}" alt="Moela">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-yellow-300 mt-2">Doce de Leite</h3>
                    <p class="text-gray-400">Doce de Leite com queijo</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}